<network>
  <name>snet2</name>
  <bridge name='ssw2'/>
  <forward mode="bridge"/>
  <virtualport type='openvswitch'/>
</network>
~                                                                                            
~                  
